{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div style="position: relative; text-align: center; margin-bottom: 60%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="margin-top: 3%; margin-bottom: 1%; margin-left: 10%; margin-right: 10%;">
                <p>A un trozo cuadrado de cartón de lado a = 72 cm se le cortan de cada esquina un cuadrado
                    de lado x obteniendo una caja como la que se muestra a la derecha de la siguiente figura.</p>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <img src="{% static 'img/3.jpg'%}" style="border-radius: 10px; width: 50%; height: auto; margin-left: auto; margin-right: auto; margin-top: 50px;">
    </div>
    <div style="margin-top: 2%;"><p>¿Para cuál valor de x el volumen es mínimo ?</p>
    <P>¿Para cuál valor de x el volumen es máximo ?</P><p> ¿Cuál es ese volumen máximo ?</p></div>
    <a id="boton-solucion" class="btn btn-primary" onclick="toggleSolucion()" style="margin-top: 5%;">Mostrar Solución</a>
    <div id="solucion" style="display: none; text-align: center; margin-top: 5%;">
        <iframe scrolling="no" title="3." src="https://www.geogebra.org/material/iframe/id/mgntzrqh/width/800/height/571/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/true/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="800px" height="571px" style="border:0px;"> </iframe>
        <p>V=(72-2x)(72-2x)x </p><p>x=36 minimo x=12 maximo</p><p>Volumen maximo = 27648</p>
    </div>

</div>
{% block script%}
<script>
    function toggleSolucion() {
        var solucion = document.getElementById('solucion');
        var boton = document.getElementById('boton-solucion');
        
        if (solucion.style.display === 'none') {
            solucion.style.display = 'block';
            boton.innerHTML = 'Cerrar Solución';
        } else {
            solucion.style.display = 'none';
            boton.innerHTML = 'Mostrar Solución';
        }
    }
</script>
{% endblock %}
</div>
{% endblock %}