{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div style="position: relative; text-align: center; margin-bottom: 60%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="margin-top: 3%; margin-bottom: 1%; margin-left: 10%; margin-right: 10%;">
                <p>Un cartel rectangular de dimensiones x e y cuya área es de 726 cm2
                    ,debe contener un área impresa con los márgenes que se muestran en la siguiente figura:</p>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <img src="{% static 'img/5.jpg'%}" style="border-radius: 10px; width: 20%; height: auto; margin-left: auto; margin-right: auto; margin-top: 50px;">
    </div>
    <a id="boton-solucion" class="btn btn-primary" onclick="toggleSolucion()" style="margin-top: 5%;">Mostrar Solución</a>
    <div id="solucion" style="display: none; text-align: center; margin-top: 5%;">
        <iframe scrolling="no" title="5." src="https://www.geogebra.org/material/iframe/id/dvtyrac3/width/800/height/500/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/true/asb/true/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="800px" height="500px" style="border:0px;"> </iframe>
<p>A=(x-3)(y-2)</p><p>x*y=726</p><p>Area máxima=(33-3cm)(22-2cm)=600cm^2</p>
    </div>

</div>
{% block script%}
<script>
    function toggleSolucion() {
        var solucion = document.getElementById('solucion');
        var boton = document.getElementById('boton-solucion');
        
        if (solucion.style.display === 'none') {
            solucion.style.display = 'block';
            boton.innerHTML = 'Cerrar Solución';
        } else {
            solucion.style.display = 'none';
            boton.innerHTML = 'Mostrar Solución';
        }
    }
</script>
{% endblock %}
</div>
{% endblock %}