{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div style="position: relative; text-align: center; margin-bottom: 60%; margin-top: 3%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color: rgb(70, 26, 129);">Objetivo</h1>
                <p>el objetivo de proyecto.</p>
            </div>
            <div class="col-md-6">
                <h1 style="color: rgb(70, 26, 129);">Descripción</h1>
                <p>descripcion proyecto.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}