{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div style="position: relative; text-align: center; margin-bottom: 60%; margin-top: 3%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color: rgb(70, 26, 129);">Objetivo</h1>
                <p>1)CREACIÓN DE UNA PÁGINA WEB QUE PERMITIRÁ COMPLEMENTAR EL ESTUDIO PARA DIFERENTES TIPOS DE ESTUDIANTES.

                    2)Crear un entorno didáctico donde se pueda aprender
                    
                    3) Ofrecer una solución al problema
                    </p>
            </div>
            <div class="col-md-6">
                <h1 style="color: rgb(70, 26, 129);">Descripción</h1>
                <p>El proyecto consiste en la creación de una página web educativa dedicada a enseñar nociones matemáticas Básica como en este caso derivadas.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}